
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    /* Global styles */
    body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #5a5e69;
    }
    
    h1 {
    text-align: center;
    margin: 30px 0;
    }
    
    .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #949aab;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    label {
    display: inline-block;
    margin: 10px 50px 10px;
    font-weight: bold;
    background-color: #282d3a;
    color: whitesmoke;
    }
    #hostel label{
        padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 70%;
    background-color: #dadfec;
    }
    select,
    input[type="date"],
    input[type="month"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 70%;
    background-color: #dadfec;
    }
    
    select.chosen {
    position: absolute;
    }
    
    /* Chosen plugin styles */
    .chosen-container {
    width: 70% !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 70%;
    background-color: #dadfec;
    }
    
    /* Date range picker styles */
    #custom_dates {
    margin-top: 20px;
    padding: 10px;
    background-color: #5a5e69;
    border-radius: 5px;
    }
    
    #custom_dates label {
    display: inline-block;
    margin: 10px 50px 10px;
    }
    
    #custom_month {
    display: inline-block;
    margin-left: 20px;
    }
    
    /* Report table styles */
    #report {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    overflow-y: scroll;
    position: relative;
    margin: auto;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    background-color: #dadfec;
    margin-bottom: 20px;
    }
    
    #report table {
    width: 100%;
    max-width: 500px;
    height: 550px;
    margin: auto; /* add this to center the table horizontally */
    right: 5%;
    table-layout: fixed; /* add this to make table cells evenly distribute available width */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    position:absolute;
    padding: 10px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px 10% 0 10%;
    border: 1px solid #ccc;
    }
    
    #report th {
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    background-color: #41495b;
    font-weight: bold;
    position: sticky; /* add this to make the header sticky*/
    top: 0; /*add this to position the header at the top */
    z-index: 1;
    border: 1px solid #a08383;
    }
    
    #report td {
    padding: 10px;
    text-align: left;
    border: 1px solid #0e0e0e;
    }
    
    #report tr:hover {
    background-color: #adb2be;
    }